<?xml version="1.0"?>
<configuration>
	<system.web>
		<httpHandlers>
			<!-- Let the ZIPHandler class take care of all requests for ZIP files -->
			<add verb="*" path="*.zip" type="Download.ZIPHandler,Download"/>
		</httpHandlers>
		<compilation defaultLanguage="vb" debug="true"/>
		<customErrors mode="RemoteOnly"/>
		<authentication mode="Windows"/>
		<authorization>
			<allow users="*"/>
		</authorization>
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/></system.web>
</configuration>
